@media (max-width: 767px) {
    .container {
      width: 100%;
      padding: 0 20px;
    }
  
    .nav_main {
      padding: 20px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .menu_toggle {
      display: block;
    }
  
    .nav_menu {
      display: none;
      width: 100%;
      background: rgba(116, 198, 157, 1);
      position: absolute;
      top: 80px;
      left: 0;
      padding: 20px 0;
      z-index: 10;
    }
  
    .nav_menu.active {
      display: block;
    }
  
    .nav_menu ul {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .hero_main{
        padding: 32px 20px;
        flex-direction: column-reverse;   
    }
    .hero_right img{
        width: 100%;
        height: auto;
    }
    .wel_txt{
        padding-top: 30px;
    }
    .lorem{
        padding-top: 15px;
        font-family: Crimson Text;
        font-weight: 700;
        font-size: 28px;
        line-height: 125%;
        letter-spacing: 0px;
        color: rgba(255, 255, 255, 1);
    }
    .lorem_txt{
        font-family: Work Sans;
        font-weight: 400;
        font-size: 15px;
        line-height: 125%;
        letter-spacing: 0px;

    }
    .text_sec{
        text-align: center;
        padding: 20px;
    }
    .dolor{
        font-size: 20px;
    }
    .company_logo{
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }
    .consectetur_main{
        flex-direction: column;
        padding: 20px;
        padding-top: 60px;
    }
    .consectetur_right img{
        width: 100%;
        height: auto;
    }
    .consectetur_left{
        padding: 0;
        margin: 0 auto;
        padding-top: 30px;
    }
    .consectetur_h2{
        font-size: 24px;
    }
    .consectetur_dolor{
        flex-direction: column-reverse;
        padding: 20px;
    }
    .dolor_left{
        padding: 0;
        margin: 0 auto;
    }
    .dolor_h2{
        padding: 0;
        margin: 0 auto;
        font-size: 24px;
        padding-top: 30px;
    }
    .dolor_p{
        padding: 0;
        margin: 0 auto;
    }
    .moreone_btn{
        margin-left: 0;
    }
    .dolor_right img{
        width: 100%;
        height: auto;
    }
    .team_photos{
        flex-direction: column;
        padding: 20px;
        text-align: center;
        gap: 30px;
    }
    .card{
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    .view_btn{
        margin-top: 44px;
    }
    .footer_main{
        flex-direction: column;
        padding: 20px;
        text-align: center;
        gap: 20px;
    }
}

    