@media (max-width: 767px) {
.container {
    width: 100%;
    padding: 0 20px;
  }

  .nav_main {
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu_toggle {
    display: block;
  }

  .nav_menu {
    display: none;
    width: 100%;
    background: rgba(116, 198, 157, 1);
    position: absolute;
    top: 80px;
    left: 0;
    padding: 20px 0;
    z-index: 10;
  }

  .nav_menu.active {
    display: block;
  }

  .nav_menu ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .portfolio_image{
    flex-direction: column;
  }
  .portfolio_image img{
    width: 100%;
    height: auto;
  }
  .footer_main{
    flex-direction: column;
    padding: 20px;
    text-align: center;
    gap: 20px;
}
}